body{
    width: 100%;
    height: 100%;
    background: url("../img/background.jpg");
}
#main {
    border-radius: 15px;
    background-clip: padding-box;
    margin: 180px auto;
    width: 350px;
    padding: 15px 35px 15px 35px;
    background: deepskyblue;
    border: 1px solid #eaeaea;
    -webkit-box-shadow: 0 0 25px #cac6c6;
    box-shadow: 0 0 25px #cac6c6;
}

#title {
    margin: 0 auto 40px auto;
    text-align: center;
    color: #1169c1;
}

.put {
    height: 25px;
    font-size: 25px;
    border-radius: 25px;
    -webkit-box-shadow: 0 0 25px #cac6c6;
    border: 1px solid deepskyblue;
    box-shadow: 0 0 25px #cac6c6;
}

#forget {
    color: yellow;
    text-decoration: none;
    float: right;
}

#forget:hover {
    color: #eeeeee;
}

#register {
    font-size: 15px;
    background-color: #1169c1;
    border-radius: 15px;
    margin-left: 50px;
    height: 50px;
    width: 100px;
}
#login{
    font-size: 15px;
    background-color: #1169c1;
    border-radius: 15px;
    margin-left: 50px;
    height: 50px;
    width: 100px;
}