
* {
    margin: 0 auto;
    padding: 0;
    text-align: center;
}

a {
    text-decoration: none;
}

#nav {
    height: 90px;
    width: 100%;
    background-color: #eeeeee;
    position: absolute;
}

#nav ul li {
    line-height: 80px;
    width: 120px;
    list-style: none;
    float: left;
    display: block;
    font-size: 20px;
    font-family: Arial, sans-serif;
}

#nav ul #logo {
    height: 80px;
    width: 100%;
}

#nav ul li a {
    color: #FFF;
    text-decoration: none;
    display: block;
    background-color: deepskyblue;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

#nav ul li ul li {
    line-height: 50px;
}

#nav ul li ul li a {
    background-color: lightseagreen;
}

#nav ul li a:hover {
    background-color: deepskyblue;
    border-bottom: 1px dashed #6666FF;
}

#nav ul li ul {
    display: none;
}

#nav ul li:hover ul {
    display: block;
}

#nav ul li ul li a:hover {
    background-color: #333333;
}

#icon-list {
    text-align: center;
}

#icon-list li {
    background-color: deepskyblue;
    height: 50px;
    width: 50px;
    border: black 1px solid;
    border-radius: 50%;
    margin-top: 20px;
    margin-right: 30px;
    display: block;
    float: right;
    text-align: center;
}

#icon-list li a img {
    width: 100%;
    height: 100%;
}

/*------------------------------------*/
#search {
    width: 100%;
    height: 80px;
    background-color: #91b5c1;
}

#search #search_text {
    box-shadow: 3px 3px 3px dodgerblue inset;
    border-radius: 6px;
    margin-top: 7px;
    line-height: 60px;
    width: 70%;
    float: left;
    text-align: left;
    font-size: 25px;
}

#search #search_button {
    background-color: deepskyblue;
    box-shadow: 3px 3px 3px deepskyblue inset;
    border-radius: 6px;
    float: left;
    margin-top: 7px;
    line-height: 60px;
    width: 10%;
}

#search #search_button1 {
    background-color: deepskyblue;
    box-shadow: 3px 3px 3px deepskyblue inset;
    border-radius: 6px;
    float: right;
    margin-top: 7px;
    line-height: 60px;
    width: 19%;
}

#container {
    width: 100%;
    margin: 0 auto;
}

#main {
    background-color: #000;
}

#aside {
    float: left;
    width: 40%;
    /*height: 1360px;*/
    background-color: #6cf;
    text-align: center;
    font-size: 14px;
}

#imglist {
    width: 330px;
    margin: 200px auto 0;
}

.pol {
    width: 185px;
    padding: 12px;
    background:url("../img/background.jpg");
    border: 1px solid #bfbfbf;
    box-shadow: 2px 2px 4px #aaa;
    border-radius: 5px;
}

#imglist img {
    height: 310px;
    width: 300px;
    margin: 50px auto 0;
    vertical-align: text-top;
}

.rotate-left {
    -webkit-transform: rotate(7deg);
    -moz-transform: rotate(7deg);
    -ms-transform: rotate(7deg);
    transform: rotate(7deg);
}

.rotate-right {
    -webkit-transform: rotate(-7deg);
    -moz-transform: rotate(-7deg);
    -ms-transform: rotate(-7deg);
    transform: rotate(-7deg);
}

#content {
    float: right;
    width: 60%;
    background-color: #cff;
}

.subcon {
    width: 100%;
}

.subcon h2 {
    margin-left: -300px;
    /*float: left;*/
    /*float: left;*/
    clear: both;
}

/*.subcon {*/
/*    width: 570px;*/
/*    margin: 10px auto;*/
/*    float: left;*/
/*}*/

.subcon img {
    width: 500px;
    height: 300px;
    /*margin: 5px;*/
    /*padding: 5px;*/
    margin-left: 100px;
    border: 1px #bababa solid;
    float: left;
}


#footer {
    height: 200px;
    width: 100%;
}

#footer #left {
    height: 200px;
    float: left;
    width: 60%;
    clear: left;
    background-color: #649cb8;
}

#footer #right {
    height: 200px;
    float: right;
    width: 40%;
    clear: right;
    background-color: #649cb8;
}

#footer #right p {
    text-align: center;
    margin-top: 30px;
}