*{
    margin: 0 auto;
    padding: 0;
    text-align: center;
}
a{
    text-decoration: none;
}
#nav{
    height: 80px;
    width: 80%;
    background-color: #eeeeee;
    position: absolute;
    clear: both;
    margin-left: 10%;
}
#nav ul li{
    line-height: 80px;
    width: 120px;
    list-style: none;
    float: left;
    display: block;
    font-size: 20px;
    font-family: Arial,sans-serif;
}
#nav ul #logo{
    height: 80px;
    width: 100%;
}
#nav ul li a{
    color: #FFF;
    text-decoration: none;
    display: block;
    background-color: deepskyblue;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}
#nav ul li ul li {
    line-height: 50px;
}
#nav ul li ul li a{
    background-color: lightseagreen;
}
#nav ul li a:hover{
    z-index: 999;
    background-color: deepskyblue;
    border-bottom: 1px dashed #6666FF;
}
#nav ul li ul{
    display: none;
}
#nav ul li:hover ul{
    z-index: 999;
    display: block;
}
#nav ul li ul li a:hover{
    z-index: 999;
    background-color: #333333;
}
#icon-list {
    text-align: center;
}
#icon-list li{
    background-color: deepskyblue;
    height: 50px;
    width:50px;
    border: black 1px solid;
    border-radius: 50%;
    margin-top: 20px;
    margin-right: 30px;
    display:block;
    float: right;
    text-align: center;
}
#icon-list li a img{
    width: 100%;
    height: 100%;
}
#search {
    width: 80%;
    height: 80px;
    background-color: #91b5c1;
}
#search #search_text{
    box-shadow: 3px 3px 3px dodgerblue inset;
    border-radius: 6px;
    margin-top: 7px;
    line-height: 60px;
    width: 70%;
    float: left;
    text-align: left;
    font-size: 25px;
}
#search #search_button{
    background-color: deepskyblue;
    box-shadow: 3px 3px 3px deepskyblue inset;
    border-radius: 6px;
    float: left;
    margin-top: 7px;
    line-height: 60px;
    width: 10%;
}
#search #search_button1{
    background-color: deepskyblue;
    box-shadow: 3px 3px 3px deepskyblue inset;
    border-radius: 6px;
    float: right;
    margin-top: 7px;
    line-height: 60px;
    width: 19%;
}
#main{
    width: 80%;
}
#box{
    cursor: default;
    list-style: none;
}
#box a{
    cursor: default;
}
#box a .preview{
    display: none;
}
#box a:hover .preview{
    display: block;
    position: absolute;
    top: -45px;
    left: -45px;
    z-index: 1;
}
#box img{
    background-color: deepskyblue;
    border-color: deepskyblue;
    border-style: solid;
    border-width: 1px;
    color: inherit;
    vertical-align: top;
    width: 283px;
    height: 283px;
}
#box li{
    background-color: deepskyblue;
    border-color: deepskyblue;
    border-style: solid;
    border-width: 1px;
    color: inherit;
    float: left;
    display: inline;
    margin: 3px;
    padding: 5px;
    position: relative;
}
#box .preview{
    border-color: #000000;
    width: 383px;
    height: 383px;
}
#tuijian{
    height: 80px;
    background-color: #dee3e9;
    width: 80%;
}
#tuijian ul li{
    float: left;
    line-height: 80px;
    text-align: center;
    overflow: hidden;
    margin-right: 16px
}
#tuijian ul li a:hover{
    color: red;
}
.pagecent {
    height: 80px;
    text-align: center;
    line-height: 80px;
    width: 80%;
    clear: both;
    margin: 20px 0 20px 10%;
}

.pagecent a {
    display: inline-block;
    height: 80px;
    width: 80px;
    background-color: #fff;
    margin: 0 3px;
    color: #aaa
}

.pagecent span {
    display: inline-block;
    height: 80px;
    width: 80px;
    color: #ddd
}

.pagecent .on, .pagecent a:hover {
    background-color: #4998e7;
    color: #fff
}

.pagecent .handle {
    font: bolder 24px/36px 'simsun';
    background-color: transparent;
    vertical-align: -3px;
    text-shadow: #aaa 1px 0 0px, #aaa 0 1px 0px, #aaa -1px 0 0px, #aaa 0 -1px 0px;
}

.pagecent .handle:hover {
    color: #4998e7;
    background-color: transparent;
    text-shadow: #4998e7 1px 0 0px, #4998e7 0 1px 0px, #4998e7 -1px 0 0px, #4998e7 0 -1px 0px;
}

#footer {
    height: 320px;
    width: 80%;
    background-color: #66ccff;
}
#footer #left{

    float: left;
    width: 50%;
    clear: left;
}
#footer #right{

    float: right;
    width: 40%;
    clear: right;
}
#footer #right p{
    text-align: center;
    margin-top: 30px;
}

#gotop1 {
    width: 80px;
    position: fixed;
    bottom: 50px;
    cursor: pointer;
    z-index: 99998;
    right: 50%;
    margin-right: -720px;
}

/* 小火箭悬停特效 */

#gotop1:hover {
    animation: rubberBand 1s;
}

@keyframes rubberBand {
    from {
        transform: scale3d(1, 1, 1);
    }

    30% {
        transform: scale3d(1.25, 0.75, 1);
    }

    40% {
        transform: scale3d(0.75, 1.25, 1);
    }

    50% {
        transform: scale3d(1.15, 0.85, 1);
    }

    65% {
        transform: scale3d(.95, 1.05, 1);
    }

    75% {
        transform: scale3d(1.05, .95, 1);
    }

    to {
        transform: scale3d(1, 1, 1);
    }
}